<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" type="text/css" href="/styles/urls_index.css">
</head>
<body>
    <% include ./partials/_header.ejs %>
    <ul>
      <% var uname = username;%>
      <% var urlList = urls[username].urls;%>
      <% for (let data in urlList) {%>
        <li><a href="/u/<%=data%>"><%=data%></a>: <%=urlList[data]%>
          <form method="GET" action="/urls/<%=data%>">
            <input type="submit" value="Update">
          </form>
          <form method="POST" action="/urls/<%=data%>/delete">
            <input type="submit" value="Delete">
          </form>
        </li>
      <%}%>
      <form method="GET" action="/urls/new">
        <input type="submit" value="Generate New Link">
      </form>

    </ul>
</body>
</html>